* {
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 60px;
  padding: 0.7%;
  justify-content: space-between;
}

.trybewarts-login {
  margin-right: 4%;
  margin-top: 12px;
  display: flex;
}

#trybewarts-header-title {
  margin-left: 15%;
  line-height: 1.5;
  font-size: 2.5em;
  color: rgb(243, 238, 216);
}

main {
  display: flex;
  justify-content: space-evenly;
}

#trybewarts-forms-logo {
  height: 500px;
}

#evaluation-form {
  width: 675px;
  box-shadow: 0 0 40px rgb(213 213 213);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  justify-content: space-between;
  padding: 2% 0;
}

#content-container {
  display: flex;
  color: rgb(98, 98, 98);
  flex-flow: column;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: flex-start;
}

#family-container {
  display: flex;
  flex-direction: column;
  width: 54%;
  margin: 0 0 83px;
  justify-content: space-evenly;
}

#family-content-super-container {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  width: 66%;
  font-size: 0.9em;
  height: 208px;
  justify-content: center;
}

#avaliacao {
  display: flex;
  width: 83%;
  justify-content: space-around;
  flex-direction: row;
  margin: 10px 8px;
  color: rgb(98, 98, 98);
}

.trybewarts-header-logo {
  margin-left: 2%;
}

#trybewarts-login-email {
  width: 128px;
  margin-right: 5px;
  height: 20px;
  padding: 1.5%;
  border-radius: 4px;
  border: 1px solid rgb(211 211 211);
}

#trybewarts-login-pwd {
  width: 128px;
  height: 20px;
  margin-right: 5px;
  padding: 1.5%;
  border-radius: 4px;
  border: 1px solid rgb(243, 238, 215);
}

#trybewarts-login-btn {
  padding: 4.5%;
  width: 68px;
  line-height: 0;
  text-align: center;
  background: rgb(243, 238, 215);
  height: 32px;
  border-radius: 3px;
  border: 1px solid rgb(243, 238, 215);
}

#grupo-nome-sobrenome {
  display: flex;
  width: 70%;
  justify-content: space-around;
}

#grupo-email-casa {
  display: flex;
  width: 70%;
  margin-top: 6px;
  justify-content: space-around;
}

#input-email {
  width: 100%;
}

#house {
  height: 36px;
  color: rgb(106, 105, 105);
  width: 65%;
  background: white;
  margin-right: 5px;
  padding: 1.5%;
  border-radius: 4px;
  border: 1px solid rgb(207 207 207);
}

.family {
  height: auto;
}

#label-family > label {
  font-size: 4em;
  color: gray;
}

#family-container > label {
  color: rgb(98, 98, 98);
}

footer {
  background: rgb(243 238 215);
  text-align: center;
  padding: 1%;
  bottom: 0;
}

#input-name , #input-lastname , #input-email {
  margin-right: 5px;
  height: 20px;
  padding: 1.5%;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(207 207 207);
}

#label-rate {
  font-size: 1em;
}

#textarea {
  width: 100%;
  margin: 9px 6px 17px;
  border-radius: 5px;
  border: 1px solid rgb(207, 207, 207);
}

.textarea {
  color: rgb(98, 98, 98);
}

#counter {
  position: relative;
  float: right;
  z-index: 9999999;
  margin-top: -45px;
  right: 5px;
}

#label-infos {
  color: rgb(68 68 68);
  margin-bottom: 11px;
}

#submit-btn {
  width: 93px;
  height: 43px;
  font-size: 1.06em;
  color: white;
  border: 1px solid rgb(124, 124, 124);
  background: rgb(43, 127, 253);
  border-radius: 5px;
}

#submit-btn:disabled , #submit-btn[ disabled ] {
  border: 1px solid rgb(209, 209, 209);
  background-color: rgba(221, 221, 221, 0.749);
  color: rgb(173, 173, 173);
}

@media screen and ( max-width : 1024px ) {

  main {
    flex-wrap: wrap;
  }

  #trybewarts-forms-logo {
    width: 100%;
  }
}

@media screen and ( max-width : 1100px ) {

  .header {
    justify-content: space-evenly;
  }

}

@media screen and ( max-width : 800px ) {

  main {
    flex-wrap: wrap;
  }

  #input-name , #input-lastname , #input-email {
    margin-top: 5px;
    margin-right: 0;
  }

  #grupo-nome-sobrenome , #grupo-email-casa {
    width: 80%;
    display: block;
  }

  #input-email {
    margin-top: 0;
  }

  #evaluation-form {
    width: 100%;
    box-shadow: 0;
  }

  #house {
    width: 104%;
    margin-top: 6px;
  }

  .textarea {
    width: 81%;
    color: rgb(98, 98, 98);
    display: flex;
    justify-content: flex-start;
    flex-flow: nowrap;
    flex-direction: column;
    align-items: center;
  }

  #family-content-super-container {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    margin-top: 13px;
    width: 66%;
    font-size: 0.9em;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  #family-container {
    width: 100%;
  }

  #content-container {
    margin-top: -73px;
    width: 100%;
  }

  #avaliacao {
    display: block;
    width: 81%;
    justify-content: unset;
    flex-direction: column;
    margin: 14px 38px;
  }

  #label-rate {
    width: 100%;
    display: block;
  }

  .evaluation {
    height: 20px;
    width: 30px;
  }

  #label-infos {
    margin-top: 27px;
    width: 80%;

  }

  .trybewarts-header-logo {
    margin-right: 1%;
    width: 48px;
  }

  .header {
    height: auto;
    flex-wrap: wrap;
    padding: 2% 1%;
    justify-content: center;
  }

  #trybewarts-header-title {
    margin-left: 0;
  }

  .trybewarts-login {
    margin-right: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  #trybewarts-login-email , #trybewarts-login-pwd , #trybewarts-login-btn {
    width: 100%;
    margin-right: 5px;
    margin-top: 4px;
  }

}
