.header {
    display:flex;
    background-color: rgb(50, 167, 145);
    height:60px;
    justify-content: space-between;
}

.trybewarts-login {
   display:flex;
 
}
.trybewarts-header-title {
    text-align: center;
}
main {
  display: flex;
}

main img {
  height: 500px;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
}

#second-container {
  display: flex;
  flex-flow: row wrap;
}

#content-container {
  display: flex;
  flex-flow: column;
}